ASide:

  - Room: "d01"

    Holes:

    - Side: Left
      Idx: 0
      Kind: inout
    - Side: Right
      Idx: 0
      Kind: inout
  - Room: "d02"

    Holes:

    - Side: Down
      Idx: 0
      Kind: none
    - Side: Up
      Idx: 0
      Kind: none
    - Side: Left
      Idx: 0
      Kind: inout
      ReqIn:
        Or:
        - Dashes: one
        - Dashes: two
      ReqOut:
        Or:
        - Dashes: two
    - Side: Right
      Idx: 0
      Kind: inout
      ReqIn:
        Or:
        - Dashes: two
      ReqOut:
        Or:
        - Dashes: one
        - Dashes: two
    Tweaks:
    - Name: "invisibleBarrier"
      X: -8
      Y: 88
      Update:
        Remove: true
  - Room: "d03"

    Holes:
    - Side: Down
      Idx: 0
      Kind: none
    - Side: Up
      Idx: 0
      Kind: none
    - Side: Left
      Idx: 0
      Kind: in
      ReqBoth:
        Or:
        - Dashes: one
          Difficulty: Perfect
        - Dashes: two
          Difficulty: Expert
    - Side: Right
      Idx: 0
      Kind: out
      ReqBoth:
        Or:
        - Dashes: one
          Difficulty: Perfect
        - Dashes: two
          Difficulty: Expert
  - Room: "d04"

    Holes:
    - Side: Left
      Idx: 0
      Kind: in
    End: true